################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/
/.vs/Tenant/config/applicationhost.config
/Tenant.Common/bin/Debug/netcoreapp3.1
/Tenant.Common/obj
/Tenant.EF/bin/Debug/netcoreapp3.1
/Tenant.EF/obj
/Tenant.Service/bin/Debug/netcoreapp3.1
/Tenant.Service/obj
/Tenant.UnitTest/bin/Debug
/Tenant.UnitTest/obj
/Tenant.ViewModel/bin/Debug/netcoreapp3.1
/Tenant.ViewModel/obj
/Tenant.WebCore/bin
/Tenant.WebCore/obj
/Tenant.WebCore/Properties
/Tenant.sln.DotSettings.user
/OkrTrial.Common/bin/Debug/netcoreapp3.1
/OkrTrial.Common/obj
/OkrTrial.EF/bin/Debug/netcoreapp3.1
/OkrTrial.EF/obj/Debug/netcoreapp3.1
/OkrTrial.EF/obj
/OkrTrial.Service/bin/Debug/netcoreapp3.1
/OkrTrial.UnitTest/bin/Debug/netcoreapp3.1
/OkrTrial.UnitTest/obj
/OkrTrial.ViewModel/bin/Debug/netcoreapp3.1
/OkrTrial.ViewModel/obj/Debug/netcoreapp3.1
/OkrTrial.ViewModel/obj
/OkrTrial.WebCore/bin/Debug/netcoreapp3.1
/GuidedTour.Common/bin/Debug/netcoreapp3.1
/GuidedTour.Common/obj
/GuidedTour.EF/bin/Debug/netcoreapp3.1
/GuidedTour.EF/obj
/GuidedTour.Service/bin/Debug/netcoreapp3.1
/GuidedTour.Service/obj
/GuidedTour.UnitTest/bin/Debug/netcoreapp3.1
/GuidedTour.UnitTest/obj
/GuidedTour.ViewModel/bin/Debug/netcoreapp3.1
/GuidedTour.ViewModel/obj
/GuidedTour.WebCore/bin/Debug/netcoreapp3.1
/GuidedTour.WebCore/obj


